body {font-family: "Verdana", "Arial", "Helvetica", sans-serif}
hr {color: green; background-color: green; height: 3px; clear: left}
h1 {font-size: 26px}
h2 {font-size: 20px}

a:link {color: green}
a:visited {color: green}
a:hover {color: coral}

.nazevstranky {font-size: 30px; margin: 0}
.slogan {margin: 2px}
.logo {float: left; margin: 5px; border: none; height: 45px}

table {border-style: none}
td {border-style: none; font-size: 13px;}
dl, p, li {font-size: 13px}
dt {font-weight: bold}

#nadpis {background-image: url(pics/zeleny_list.jpg); padding: 10px; color: white}
#hornynav {padding-top: 15px;}
#dolnynav {background-color: khaki; clear: left}
#prava {clear: left}